#tableRol {
    text-align: initial;
}
.button-principal{
    background-color: #ff2f4c;
    color: white;
}
label{
    padding: 2%;
}
th{
    background-color: white;
   color: teal;
   font-size: 2rem;
}
td{
    color: teal;
    font-size: 1.6rem;
    font-weight: bold;
}
.btn_aprobacion{
    background-color: transparent;
    border-color: transparent;
    color: teal;
}
.btn_aprobacion:hover{
    background-color: transparent;
    border-color: transparent;
    color: black;
    font-weight: 400;
}